---
export interface Props {
	title: string;
	body: string;
	start?: string;
	end?: string;
}

const { title, body, start, end } = Astro.props;
---

<li class="link-card group shadow-md bg-none bg-white bg-right bg-[length:400%] hover:bg-left focus-within:bg-[length:0] focus-within:bg-left hover:bg-[image:--accent-gradient] focus-within:bg-[image:--accent-gradient] p-1 list-none no-underline rounded-lg mb-4 last:mb-0 transition-[background-position] ease-[cubic-bezier(var(--ease-func))] duration-700">
	<div class="w-full no-underline leading-normal py-4 px-5 rounded-md text-gray-900 bg-white opacity-80">
		<div class="flex justify-between items-center">
			<h2 class="group-hover:text-[rgb(var(--accent))] group-focus-within:text-[rgb(var(--accent))] m-0 text-xl transition-colors duration-75 ease-[cubic-bezier(var(--ease-func))] duration-700">
				{title}
			</h2>
			{start && <span class="text-sm">{start}{end ? ` - ${end}` : ''}</span>}
		</div>
		<p class="mt-2 mb-0 text-gray-600">
			{body}
		</p>
		<slot />
	</div>
</li>
